.feature-heading {
    margin: auto;
    text-align: center;
}

.feature-heading__title {
    margin-top: 104px;
    font-size: 42px;
    line-height: 0px;
    text-transform: uppercase;
}

.feature-heading__text {
    margin-top: 28px;
    max-width: 536px;
    font-size: 16px;
    line-height: 28px;
}

.line-red {
    width: 134px;
    height: 5px;
    background-color: #FF2D2D;
    margin: 34px auto 86px auto;
    border: none;
}

.feature-product {
    max-width: 1250px;
    margin: 0 auto;
    text-align: center;
}

.feature-product__filter {
    display: inline-block;
}

.feature-product__item {
    margin: 0 14px;
    display: inline;
    list-style: none;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 22px;
    line-height: 24px;
    white-space: nowrap;
    cursor: pointer;
}

.feature-product__link {
    text-decoration: none;
    color: #000000; 
}

.active {
    color: #FF2D2D;
}

.feature-product__item:hover {
    color: #FF2D2D;
}

.products {
    margin-top: 50px;
    margin-bottom: 100px;
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    align-items: center;
}

.product {
    max-width: 302px;
    height: 294px;
}

.product:hover {
    transition: 1s;
    transform: scale(1.1);
}

/*.products:hover {
    transition: 1s;
    transform: scale(0);
}*/

.hide {
    opacity: 1;
    animation-name: a1;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

@keyframes a1{
    to {
        opacity: 0;
        height: 0;
        width: 0;
        padding: 0;
        margin: 0;
        border: 0;
    }
}

@media (max-width: 610px) {
    .feature-heading__title {
        margin-top: 50px;
        font-size: 32px;
    }

    .products {
        margin-bottom: 50px;
        justify-content: center;
    }

    .product {
        width: 100%;
        max-width: 400px;
        height: 100%;
        max-width: 400px;
    }

    .feature-product__item {
        line-height: 1.5;
    }
}