@import url('./1-header.css');
@import url('./3-home.css');
@import url('./4-provide.css');
@import url('./5-feature.css');
@import url('./6-team.css');
@import url('./7-form.css');
@import url('./8-send.css');
@import url('./9-footer.css');
@import url('./2-burger.css');

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
    width: 100%;
}