@import url('./header.css');
@import url('./home.css');
@import url('./provide.css');
@import url('./feature.css');
@import url('./team.css');
@import url('./form.css');
@import url('./send.css');
@import url('./footer.css');
@import url('./burger.css');

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
    width: 100%;
}